asttokens==2.4.1
backcall==0.2.0
colorama==0.4.6
comm==0.2.2
contourpy==1.1.1
cycler==0.12.1
Cython==3.0.11
debugpy==1.8.8
decorator==5.1.1
executing==2.1.0
fonttools==4.54.1
GPy==1.12.0
GPyOpt==1.2.6
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipykernel==6.29.5
ipython==8.12.3
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.7
matplotlib==3.7.5
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
numpy==1.24.4
packaging==24.2
paramz==0.9.6
parso==0.8.4
pickleshare==0.7.5
pillow==10.4.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
psutil==6.1.0
pure_eval==0.2.3
Pygments==2.18.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pywin32==308
pyzmq==26.2.0
scipy==1.10.1
six==1.16.0
stack-data==0.6.3
tornado==6.4.1
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13
zipp==3.20.2
